<%# post_submissions %>

<div style="text-align: center; background-color: #ddd; height: 100vh; display: flex; align-items: center; justify-content: center">
  <div>
    We are sunsetting this section. Please ask your question and discuss in
    <%= link_to "threads", "https://get.slack.help/hc/en-us/articles/115000769927-Message-threads", target: :blank %>
    on
    <%= link_to "https://lewagon-alumni.slack.com/messages/help/", target: :blank do %>
      <strong><i class="fa fa-slack"></i>help</strong>
    <% end %>
  </div>
</div>

