<%# post_submissions %>

<div style="text-align: center; background-color: #ddd; height: 100vh; display: flex; align-items: center; justify-content: center">
  <div>
    We are sunsetting this section. Please announce in
    <%= link_to "https://lewagon-alumni.slack.com/messages/general/", target: :blank do %>
      <strong><i class="fa fa-slack"></i>general</strong>
    <% end %>
    but do not use <code>@channel</code>!
  </div>
</div>



