.resources-show,
.questions-show,
.milestones-show,
.jobs-show {
  height: 100%;
  body { height: 100% }
}

.post-detail { height: 100% }

.post-detail-page {
  height: 100%;
}

.post-detail-body {
  min-height: 100%;

  main, aside {min-height: 100%}
}
