.resources-show, .questions-show {
  height: 100%;
  body {height: 100%}
}

.post-details {height: 100%}

.post-details-page {
  height: 100%;
}

.post-details-body {
  height: 100%;

  main, aside {min-height: 100%}
}