.form-group { margin-bottom: 0 }

.batch-list-overlay {
  max-width: 1000px;

  .no-tickets { padding-top: 0 }

  .bubble h1 { opacity: 0.8 !important }
}

.batch-form-register {
  max-width: 800px;
  margin: auto;
  margin-bottom: 3em;
}

.companion-container {
  max-width: 500px;
  margin: auto;
}

.batches-list-container { padding-top: 0 }

.batches-list {
  justify-content: center;
  padding-left: 0;

  &.is-not-flex {
    padding-left: 0;
    justify-content: inherit;
  }
}

.batch-item {
  margin: 15px 0;
  cursor: pointer;
  color: black;
  a {
    font-size: inherit !important;
  }

  &:first-child {
    margin-top: 0;
  }
  .batch-date {
    opacity: 0.4;
  }

  h1 {
    font-weight: 500;
    color: black;
    opacity: 1;
  }
}

.no-tickets {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  .bubble {
    align-self: flex-start;
    margin-top: 37px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    padding: 18px 20px;
    background-color: white;
    opacity: 0;
    position: relative;
    animation: bubble 0.3s 1s ease forwards;

    h1 {
      color: #252525;
      font-size: 18px;
      font-weight: normal;
      margin: 0;
    }

    &:after {
      content: "";
      height: 12px;
      width: 12px;
      left: -6px;
      transform: rotate(45deg);
      top: 0;
      bottom: 0;
      margin: auto;
      background: white;
      position: absolute;
      border: 1px solid #EFEFEF;
      border-top: 0;
      border-right: 0;
    }
  }

  img {
    width: 180px;
    display: block;
    margin: auto;
    margin-top: 30px;
  }

  &-btn {
    margin-top: 20px;
  }
}

@keyframes bubble {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.octocat {
  position: relative;
  &:after {
    animation: speaking 0.5s 1s ease 7;
    height: 7px;
    width: 14px;
    content: "";
    /* opacity: 0; */
    border-radius: 20px;
    border: 2px solid #F4CAB1;
    background: #A9584D;
    position: absolute;
    margin: auto;
    top: 47px;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
  }
}

@keyframes speaking {
  0% {
    opacity: 1;
    border: 1px solid #F4CAB1;
  }

  25% {
    opacity: 1;
    border: 4px solid #F4CAB1;
  }


  50% {
    opacity: 1;
    border: 2px solid #F4CAB1;
  }

  100% {
    opacity: 1;}
}
