<%# post_submissions %>

<%# post_submissions %>

<div style="text-align: center; background-color: #ddd; height: 100vh; display: flex; align-items: center; justify-content: center">
  <div>
    We are sunsetting this section. Please post on
    <%= link_to "https://lewagon-alumni.slack.com/messages/jobs/", target: :blank do %>
      <strong><i class="fa fa-slack"></i>jobs</strong>
    <% end %>
  </div>
</div>



