.milestone-detail { background: $milestone-gradient }
.milestone-item-container {
  display: flex;
  &>a {
    flex: 1;
  }

}

.milestone-item-date {
  align-items: center;
  display: flex;
  border-right: 2px solid rgba(0, 0, 0, 0.07);
  padding-right: 20px;
  margin-right: 20px;
  color: #D4D4D4;
  font-weight: 300;
  font-size: 13px;
  position: relative;

  &:after {
    content: "";
    height: 12px;
    width: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
    border-radius: 50%;
    right: -7px;
    position: absolute;
  }
}
