.resources-show .nav-bar{
  position: absolute;
  left: 0;
  right: 0;
  background: none;
}

.nav-bar {background: rgba(0, 0, 0, 0.05);}

.nav-bar .container {display: flex}

.navbar-right, .navbar-logo {
  display: flex;
  align-items: center;

  svg {
    opacity: 0.1;
    circle, path {fill: black;}
  }
}

.navbar-right {
  margin-left: auto;
}

