.resources-show,
.questions-show,
.questions-create,
.resources-create,
.posts-new {
  .nav-bar{
    position: absolute;
    left: 0;
    right: 0;
    background: none;
    z-index: 10;
  }

  .navbar-right {
    a {
      color: white;
    }

    hr {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .navbar-logo { 
    background: rgba(255, 255, 255, 0.15); 
    overflow: hidden;
    position: relative;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

  }

  svg {
    opacity: 1;
  }
}

.nav-bar {
  background: white;
  padding: 20px 0;

}

.nav-bar .container {display: flex}

.navbar-logo {
  display: flex;
  align-items: center;
  background-color: #D23333;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    opacity: 1;
    position: relative;
    transition: transform 0.2s ease;
    top: 3Px;
    width: 53px;
    height: 74px;
    transform: translate(-30%);
    padding: 4px;
  circle, path {fill: white;}
  }
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;

  a {
    font-size: 14px;
    color: black;

    &.plus {
      font-size: 20px;
    }
  }

  hr {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 12px;
  }
}

