.header-main {
  position: fixed;
  left: 0;
  right: 0;
  transition: .2s ease;
  z-index: 11;
  &:hover {
    transform: translateY(0);
  }
}

.resources-show,
.questions-show,
.questions-create,
.resources-create,
.posts-new {
  .header-main {
    transform: translateY(0);
    position: absolute;

  }
  .headers {
    display: none;
  }
  .nav-bar{
    position: absolute;
    left: 0;
    right: 0;
    background: none;
    z-index: 10;
  }

  .navbar-right {
    a {
      color: white;
    }

    hr {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  svg {
    opacity: 1;
    circle, path {fill: white !important }

  }
}

.nav-bar {
  background: white;
  background: white;
  padding: 2px 10px;
  display: flex;

}

.nav-bar .container {display: flex}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    opacity: 1;
    top: 2px;
    position: relative;
    transition: transform 0.2s ease;
    width: 35px;
    height: 74px;
    padding: 4px;
    circle, path {fill: $brand-color }
  }
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;

  a {
    font-size: 14px;
    color: black;

    &.plus {
      font-size: 20px;
    }
  }

  hr {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 12px;
  }
}

