.header-main {
  transform: translateY(0);
  position: absolute;
  left: 0;
  z-index: 11;
  right: 0;
}

.headers {
  display: none;
  height: 82px;
  overflow: hidden;
}

.nav-bar{
  position: absolute;
  left: 0;
  right: 0;
  background: none;
  padding: 2px 20px;
  display: flex;
  z-index: 10;

  .navbar-logo {
    svg {
      opacity: 1;
      circle, path {fill: white }
    }
  }
}

.navbar-link-to-slack {
  line-height: 33px;
  color: white;
  margin-left: 1em;
}

.navbar-right {
  margin-left: auto;
  display: flex;

  align-items: center;
  margin-right: 10px;

  a {
    font-size: 14px;

    &.plus {
      font-size: 20px;
    }
  }

  hr {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 12px;
  }
}

.navbar-right {
  a { color: white }
  hr { background-color: rgba(255, 255, 255, 0.1) }


  .user-menu {
    display: flex;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform .3s ease, opacity .1s ease;
    opacity: 0;

    a {
      opacity: 0.7;
      font-size: 12px;
      font-weight: 900;
      letter-spacing: -0.1px;
      text-transform: uppercase;

      &:hover {
        opacity: 1;
      }
    }

    &.is-open {
      visibility: visible;
      transition: transform .3s ease, opacity .1s ease;

      opacity: 1;
      transform: translateY(0)
    }
  }
}

.nav-bar .container { display: flex }

.navbar-logo {
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    opacity: 1;
    top: 2px;
    position: relative;
    transition: transform 0.2s ease;
    width: 35px;
    height: 74px;
    padding: 4px;
  }
}

.posts-index {
  .navbar-link-to-slack { color: black !important }

  .search-icon { display: block }
  .search-icon-hr {
    display: block;
  }
  .header-main {
    position: fixed;
    transition: .2s ease;
    &:hover {
      transform: translateY(0);
    }
  }
  .headers {
    margin-top: 39px;
    display: block;
  }

  .nav-bar {
    background: white;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
  }

  .navbar-right {
    a { color: black }
  }

  .navbar-logo svg {
    circle, path {fill: $brand-color }
  }
}

.cities-index,
.cities-show,
.batches-new,
.batches-edit,
.batches-register,
.batches-onboarding,
.devise_sessions-new {
  .navbar-link-to-slack { color: black !important }
  .btn-github { display: none }
  .navbar-right {
    a { color: black }
  }
  .navbar-logo svg {
    circle, path {fill: $brand-color }
  }
}
