.post-detail-header {
  background-image: $resource-gradient;
  background-color: #3D7EAA;
  z-index: 9;
  position: relative;
  padding: 20px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &-action {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    a {display: flex}
  }
}

.post-detail-header-main {
  padding: 60px;
}

.post-detail {
  &-name {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);

    &-reduce {
      font-size: 30px;
    }
  }

  &-tagline {
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 2;
    opacity: 0.8;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }

  main {
    flex: 1;
    background-color: white;

    @media (max-width: $screen-sm) {
      width: 100%;
    }

  }

  aside {
    flex: 0 0 350px;
    max-width: 100%;  // Mobile (ssaunier)
    background-color: rgb(243, 243, 243);
    border-left: 1px solid rgba(0, 0, 0, 0.05);

    @media (max-width: $screen-sm) { width: 100% }

    &.sidebar { align-self: stretch }
  }
}

.post-detail-upvote {
  .upvote {
    background-color: white;
    padding: 7px 12px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    color: black;
    &:hover {

    }
  }
}

.post-detail-url {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  border-radius: 3px;
  padding: 10px;
  color: #8D8D8D;
  font-weight: 300;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  font-size: 16px;

  &:hover {
    color: black;
  }
}

.post-detail-body {
  display: flex;
  @media (max-width: $screen-sm) {
    flex-flow: column;
  }
}

.post-detail-participant {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: black;

  &:hover {
    color: black;
    .post-detail-participant-avatar {
      opacity: 1;
    }
  }
  &-avatar {
    opacity: 0.8;
  }

  &-name {
    padding-left: 9px;
  }

  &-status {
    background: rgb(149, 203, 149);
    width: 8px;
    height: 8px;
    margin-left: auto;
    border-radius: 50%;
  }

  &.is-offline {
    opacity: 0.5;
    .post-detail-participant-status {
      background: #CBCBCC;
    }
  }
}

.post-answers-container {

  padding-bottom: 62px;
}

.post-detail-form {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.07),0 -1px 0 0 rgba(0,0,0,0.03);
  padding: 10px 20px;
}
