/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


a {
  &:focus {
    outline: 0;
  }
}

.text-readable { font-weight: 300 }

.section-title {
  font-weight: bold;
  color: #bbb;
  align-items: center;
  display: flex;
  font-weight: bold;
  padding: 20px;

  &-h {
    margin-left: auto;
  }

  i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    color: #8E8E8E;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  span {
    padding-left: 2px;
    font-size: 14px;
  }
}

.is-hidden { display: none }

html {
  background: #f4f4f4;
}

.flex { display: flex }
.clear { clear: both }

.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}
.padded-1em {
 padding-top: 1em;
 padding-bottom: 1em;
}
