/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


a {
  &:focus {
    outline: 0;
  }
}

.text-readable { font-weight: 300 }

.section-title {
  font-weight: bold;
  padding-bottom: 0;
  color: #bbb;
  align-items: center;
  display: flex;

  padding: 10px;
  padding-top: 20px;

  &-h {
    margin-left: auto;
  }

  i {
    font-size: 23px;
  }

  span {
    padding-left: 2px;
    font-size: 14px;
  }
}

html {
  background: #f4f4f4;
}

.flex { display: flex }
