<div class='cities-list-overlay'>
  <div class='cities-icon-container'>
    <%= render 'cities/index_menu_item' %>

    <%= link_to city_path(@batch.city) do %>
      <i class='mdi mdi-clipboard-text'></i>
    <% end %>
    <i class='mdi mdi-account-multiple-plus is-active'></i>
  </div>

  <%= render 'form', resource: @batch %>
</div>
