<div class='cities-list-overlay'>
  <div class='cities-icon-container'>
  <%= link_to cities_path do %>
    <i class='mdi mdi-city'></i>
  <% end %>
  <%= link_to city_path(params[:city_id]) do %>
    <i class='mdi mdi-clipboard-text'></i>
  <% end %>
  <i class='mdi mdi-account-multiple-plus is-active'></i>
  </div>
  <%= render 'form', resource: [@batch.city, @batch] %>
</div>

<% content_for(:title) do %>
  New Batch - <%= @batch.city.name %>
<% end %>
