.alumni-card {
  p {
    font-size: 14px;
  }
  .alumni-card-avatar {
    img{
      width: 60%;
    }
  }
  .alumni-card-body {
    padding-left: 1em;
    h5 a {
      color: white;
      &:hover {
        color: $gray-lighter;
      }
    }
    p a {
      color: $gray-lighter;
      &:hover {
        color: $gray-light;
      }
    }
  }
  .alumni-card-position-summary {
    padding-right: 1em;
    color: $gray-lighter;
  }
  .alumni-card-position-logo {
    img{
      width: 60%;
    }
  }
}
