.answer-item {
  display: flex;
  margin-top: 20px;
}

.answer-content {
  padding: 10px 0;
  line-height: 1.4;
  font-weight: 300;
}

.answer-header {
  font-weight: bold;
  font-size: 15px;
}

.answer-body {
  padding-left: 10px;
  flex: 1;


}
