@keyframes writeEnter {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1) }
}

.answer-form {
  padding-top: 0;
  display: flex;
  flex-flow: column;

  &.is-sending-post {
    .answer-form-input { background-color: #F6F6F6 }
  }

  &.is-editing {
    .answer-form-input-ui {display:block}
    .answer-form-input {
      height: 250px;

      @media (max-width: $screen-sm) {
        height: auto;
      }
    }
    .answer-form-submit { display: block }
    .answer-form-actions {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
    }
    .answer-form-action-write {
      opacity: 1;
      font-weight: bold;
    }

    .answer-form-action-preview {

      &:hover {
        text-decoration: underline;
      }

    }
  }
}

.answer-form-input {
  display: block;
  resize: none;
  width: 100%;
  padding-top: 9px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  height: 44px;
  border-radius: 4px;
  padding: 10px;

  &-ui { display: none }
  &:focus { outline: 0 }
}

.answer-form-preview {
  display: none;
  height: 250px;
  overflow: scroll;
}

.answer-form-actions {
  padding-top: 0;
  display: none;
  padding-bottom: 0;

  hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    margin: 0;
    width: 1px;
    background-color: black;
    height: 12px;
    opacity: 0.1;
    border-top: 1px solid #eeeeee;
  }
}

.answer-form-action {
  color: black;
  cursor: pointer;
  opacity: 0.3;
  padding: 10px;
  display: inline-block;
  font-weight: bold;

  &-write { padding-left: 0 }

  &-extra {
    margin-left: auto;
    color: black;
    font-size: 13px;
    opacity: 0.2;
    font-weight: bold;

    span {
      margin-right: 5px;
    }

    &:hover {
      color: black;
      opacity: 0.3;
    }
  }
  &:hover {
    color: black;
  }
}

.answer-form-actions-submit {
  display: flex;
}

.answer-form-submit {
  &:first-child { margin-left: auto }
  &:last-child { margin-left: 10px }

  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  display: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
