.answer-item {
  display: flex;
  padding: 20px;
  padding-bottom: 0;

  &.is-editing {
    .answer-content { display: none }
    .answer-edit { display: block }
    .answer-item-menu { display: none }
  }

  &:hover {
    .answer-item-menu {
      visibility: visible;
    }
  }

  &#highlighted {
    animation: highlighted 5s ease forwards;
  }
}

@keyframes highlighted {
  0% {
    background: #FFF8E6;
  }

  100% {
    background: white;
  }
}

.answer-content {
  padding: 10px 0;
  line-height: 1.4;
  font-weight: 300;

  p { line-height: 16px; }
}

.answer-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 15px;

  .answer-time-ago {
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #CACACA;
    font-weight: 300;
  }
}

.answer-body {
  padding-left: 10px;
  flex: 1;
  display: flex;
  flex-flow: column;
}

.answer-item-menu {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  visibility: hidden;

  .answer-item-share {
    color: #CECECE;
    margin-left: 20px;

    &:hover {
      color: #999999;
    }
  }
}

.answer-edit {
  display: none;

  .button { float: right }
}

.answer-form-edit {
  display: block;
  margin-top: 10px;
  resize: none;
  width: 100%;
  padding-top: 9px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  height: 200px;

  &:focus {
    outline: none;
  }
}

