.badge-connected {
  background:rgba(0, 0, 0, 0.21);
  height: 8px;
  width: 8px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);

  &.is-active {
    background: $green;
    border-color: $green;
  }
}

.badge {
  &.staff { background: #D23333 }
  &.teacher { background: $orange }
  &.alumni { background: $blue }
}
