/* -------------------------------------
 * Your CSS code for buttons
  * ------------------------------------- */


/* -------------------------------------
 * [TIPS] Look for cool button design on CodePen
 * ex: http://codepen.io/search?q=buttons
 * ------------------------------------- */

.button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  opacity: 0.8;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.button-success {
  background: $green;
}

.button-resource {
  background: $resource-gradient;
}

.button-question {
  background: $question-gradient;
}