.post-item-header {
  text-align: center;
  font-size: 33px;
  padding: 11px 0;
}

.post-item {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  display: flex;
  padding: 10px;
  margin: 20px 10px;
  color: black;
  background: white;
  border-radius: 3px;
  height: 80px;

  &:hover {

    // .upvote {
    //   transform: scale(1.2);
    // }
  }
}

.post-item-upvote {
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.post-item-thumbnail {
  height: 100px;
  width: 160px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  background: white;
}

.post-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  &-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
  }

  &-tagline {
    font-size: 13px;
    color: #B9B9B9;
    opacity: 0.6;
  }
}

.post-item-menu {
  align-self: center;
}
