.post-details-header {
  background-image: linear-gradient(90deg, #43cea2 10%, #185a9d 90%);
  background-color: #3D7EAA;
  padding: 60px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &-action {
    flex-direction: row;
    display: flex;
    margin-top: 40px;

    a {display: flex}
  }
}

.post-details {
  &-name {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }

  &-tagline {
    text-align: center;
    color: white;
    font-size: 22px;
    opacity: 0.5;
    line-height: 2;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.post-details-upvote {
  .upvote {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 7px 12px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    color: white;
    &:hover {
      background-color: rgba(255, 255, 255, 0.25);

      figure {background: white}
    }
    .upvote-item {border-color: white}
    figure {background: white}

    &.is-upvoted {
      color: $brand-color;
      background-color: white;

      &:hover {
        figure {background: $brand-color}
      }
      .upvote-item{border-color: $brand-color}
    }
  }
}

.post-details-url {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  border-radius: 3px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin-left: 20px;
  font-size: 16px;

  &:hover {
    background:  rgba(255, 255, 255, 0.2);
  }
}

.post-details-body {
  display: flex;

  main {
    flex: 1;
  }

  aside {
    flex: 0 0 350px;
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.post-details-participant {
  display: flex;
  align-items: center;
  padding: 9px;

  &:hover {
    .post-details-participant-avatar {
      opacity: 1;
    }
  }
  &-avatar {
    opacity: 0.8;
    img {
      width: 30px;
      border-radius: 50%;
    }
  }

  &-name {
    padding-left: 9px;
  }

  &-status {
    background: rgb(149, 203, 149);
    width: 8px;
    height: 8px;
    margin-left: auto;
    border-radius: 50%;
  }

  &.is-offline {
    opacity: 0.5;
    .post-details-participant-status {
      background: #CBCBCC;
    }
  }
}

.section-title {
  font-weight: bold;
  padding: 20px 10px;
  padding-bottom: 0;
  color: #bbb;
}
