.suggestions {
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-top: 31px;
  margin-left: 12px;
  font-size: 10pt;
  min-width: 100px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -khtml-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.suggestions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.suggestions ul li {
  padding: 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.suggestions ul li:last-child {
  border-bottom: none;
}
.suggestions ul li.focus {
  background-color: #4078c0;
  color: white;
}