.suggestions {
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-top: 28px;
  margin-left: 13px;
  font-size: 10pt;
  min-width: 100px;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -khtml-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -o-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
}
.suggestions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.suggestions ul li {
  padding: 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.suggestions ul li:last-child {
  border-bottom: none;
}
.suggestions ul li.focus {
  background-color: #cee4e5;
}