.resource-item-meta {
  width: 100%;
}

.resource-thumbnail {
  background-color: #F7F7F7;
  width: 100%;
  height: 122px;
  margin-bottom: 10px;
  background-position: center top;
  background-size: cover;
}
