.testimonial-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .btn {
    margin-right: 5px;
  }
}
.testimonial-list-item {
  padding-bottom: 1em;
  width: 280px;
}
#testimonial-add-list-item {
  font-size: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  i:hover {
    cursor: pointer;
    opacity: .4;
  }
}
#testimonial-list-form {
  width: 80%;
  padding-top: 1em;
}
