.upvote {
  transition: 0.3s ease transform;
  cursor: pointer;

  &:hover {
    color: $brand-color;
    .upvote-item {border-color: $brand-color;}
    .upvote-item figure {color: $brand-color;}
  }

  &.is-upvoted {
    color: $brand-color;
    .upvote-item {border-color: $brand-color}
    .upvote-item figure {
      color: $brand-color;
    }
  }
}

.upvote-item {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  figure {
    font-size: 24px;
  }
}

.upvote-count {
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  top: 2px;
  font-size: 14px;
}
