.user-profile-header {
  background: #FAFAFA;
  color: $gray-dark;
  padding-top: 2em;
  padding-bottom: 1em;
}

.user-profile-header-tank {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.user-profile-avatar {
  width: 100px;
}

.user-profile-summary {
  padding-left: 2em;
  h4, h5 {
    margin: 0px;
  }
  h4 {
    padding-top: 5px;
    font-size: 25px;
  }
  h5 {
    color: $gray-light;
    font-weight: 200;
    padding-top: 5px;
    #title {
      color: $gray-dark;
      font-weight: 500;
    }
    a {
      color: $blue;
      font-weight: 500;
    }
  }
}

.user-profile-contact {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.user-profile-contact-tank {
  display: flex;
  align-items: center;
}

.user-profile-contact-icons {
  border-right: 1px solid #CCCCCC;
  padding-right: 0.5em;
  font-size: 16px;
  font-weight: 200;
  color: #CCCCCC;
}

.user-profile-contact-links {
  padding-left: 0.5em;
  color: #9D9D9D;
  font-size: 11px;
  font-weight: 500;
  a {
    color: #9D9D9D;
    &:hover {
      color: #CCCCCC;
    }
  }
}

.user-profile-name {
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-weight: 300;

  .badge-connected { margin-left: 10px }
}

.user-profile-username {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  opacity: 0.7;

  &-container {
    justify-content: center;
    .badge {
      margin-left: 10px;
      display: flex;
      align-items: center;
      border-radius: 2px;
    }
  }
}

.user-profile-header-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;

  a { margin-left: 20px; }
  a:first-child { margin-left: 0 }
}

.user-profile-mood {
  background-color: white;
  color: $gray-dark;
  padding-top: 1em;
  padding-bottom: 1em;
  .is-editable {
    cursor: pointer;
    color: $gray-light;
    &:hover {
      color: $gray-dark;
    }
  }
}

.user-profile-history {
  background-color: #F4F4F4;
  padding: 1em 0;
  a {
    color: #333333;
    &:hover {
      color: $gray-light;
    }
  }
}
