.user-profile-header {
  background: #FAFAFA;
  color: $gray-dark;
  padding-top: 2em;
  padding-bottom: 1em;
}

.user-profile-header-tank {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.user-profile-avatar {
  width: 100px;
}

.user-profile-summary {
  padding-left: 2em;
  h1, h2 {
    margin: 0px;
  }
  h1 {
    padding-top: 5px;
    font-size: 25px;
  }
  h2 {
    font-size: 16px;
    color: $gray-light;
    font-weight: 200;
    padding-top: 5px;
    #title {
      color: $gray-dark;
      font-weight: 500;
    }
    a {
      color: $blue;
      font-weight: 500;
    }
  }
}

.user-profile-contact {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.user-profile-contact-tank {
  display: flex;
  align-items: center;
}

.user-profile-contact-icons {
  border-right: 1px solid #CCCCCC;
  padding-right: 0.5em;
  font-size: 18px;
  font-weight: 200;
  color: #CCCCCC;
  height: 20px;
}

.user-profile-contact-links {
  padding-left: 0.5em;
  color: #9D9D9D;
  font-size: 11px;
  font-weight: 500;
  a {
    color: #9D9D9D;
    &:hover {
      color: #CCCCCC;
    }
  }
}

.user-profile-mood {
  background-color: white;
  color: $gray-dark;
  padding-top: 1.5em;
  padding-bottom: 1em;
  .is-editable {
    cursor: pointer;
    color: $gray-light;
    &:hover {
      color: $gray-dark;
    }
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
}

.user-profile-history {
  background-color: #FAFAFA;
  padding: 2em 0;
}

.user-profile-blue-link {
  color: $blue;
  font-weight: 500;
}
