.posts-new,
.post-submissions-submit,
.resources-create,
.questions-create {
  background: #f4f4f4;
}

.post-submissions-header {
  font-size: 40px;
  font-weight: 900;
  color: white;
  text-align: center;
  padding: 70px 0;
}

.post-submissions-tabs-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-submissions-tabs {
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  transform: translateY(-50%);
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;

  hr {
    margin: 0;
    height: 14px;
    width: 1px;
    background-color: #ECECEC;
  }
}

.post-submissions-tab {
  cursor: pointer;
  padding: 20px;
  opacity: 0.2;

  &.is-active {
    opacity: 1;
    .post-submissions-tab-item { opacity: .4 }
  }

  &-item {
    font-size: 13px;
    text-transform: uppercase;
  }
}

.post-submissions-body {
  .post-submissions-tab {
    display: none;
    padding: 0;

    &.is-active {
      display: block;
    }
  }
}

.post-submissions-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1Px solid rgba(0, 0, 0, 0.06);
  padding: 40px 20px;

  .errors {
    display: flex;
    flex-flow: column;
    color: $red;
    padding-left: 20px;
    text-align: right;
  }

  &:last-child {
    border-bottom: none;
  }

  label {
    flex: 0 0 200px;
    color: darkgrey;
    align-self: center;

    i {
      margin-right: 10px;
    }
  }

  input {
    flex: 1;
    border: none;
    outline: 0;
    background-color: transparent;
  }

  textarea {
    flex: 4 1 auto;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ccc;
    resize: none;
    height: 150px;
    padding: 10px;
    outline: 0;
    border-radius: 4px;

    &:focus {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.17);
      border: 1px solid #9C9C9C;
    }
  }
}

.post-submissions-select {
  flex: 1;
  display: flex;
  align-items: center;

  .btn-group {
    &.is-closed {
      .dropdown-menu {
        display: none;
      }
    }
  }

  .input-selector-item {
    padding: 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
    color: #909090;
    cursor: pointer;

    &:hover {
      color: black;
    }
    &:last-child {
      border: none;
    }
  }

  .dropdown-menu {
    padding: 0;
  }

  hr {
    height: 10px;
    background-color: rgb(230, 230, 230);
    width: 1px;
    margin: 0 15px;
  }

  .remote-selector {
    color: #D2D2D2;

    &.is-selected {
      color: black;
    }

    &:last-child {
      margin-left: 20px;
    }
  }
}

.post-submissions-submit {
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: center;
}
