.projects-list {
  padding: 20px;
  padding-top: 0;
  a { color: black }
}

.project-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;

  @media(min-width: $screen-sm-min) {
    padding: 15px;
  }

  &:hover {
    background: #f7f7fa;
  }
}

.project-thumbnail {
  width: 153px;
  height: 80px;
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.14);
}

.project-item-name {
  font-size: 20px;
}

.project-item-tagline {
  opacity: 0.4;
  font-weight: 300;
}

.project-item-makers {
  margin-left: auto;
  display: flex;
}

@media (max-width: $screen-xs) {
  .project-item-makers {
    position: absolute;
    right: 15px;
    top: 30px;
    order: 2;
  }
  .project-thumbnail {
    width: 100%;
    padding-bottom: 52%;  /* 80 / 153 */
    order: 1;
  }
  .project-item-infos {
    margin-top: 15px;
    order: 3;
  }
}

.project-item-maker {
  margin-left: 10px;
}

.project-detail-main {
  .section-title-h {
    margin: inherit;
    padding-left: 6px;
  }
}
