.project-detail-batch {
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.project-detail-header {
  background-size: cover;
}



.browser-mockup {
  border-top: 2em solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.13);
  position: relative;
  border-radius: 3px 3px 0 0;
  max-width: 950px;
  margin: auto;
}

.browser-content {
  height: 500px;
  background-color: white;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

