<div class='cities-list-overlay'>
  <div class='cities-icon-container'>
    <i class='mdi mdi-city is-active'></i>
  </div>
  <div class="cities-list-container">
    <div class="cities-list-title ">
      <h1>Choose a city</h1>
    </div>

    <div class="cities-list">
      <% @cities.each do |city| %>
        <div class="city-item">
          <%= link_to city_path(city) do %>
            <% if policy(city).show? %>
              <%= link_to city.name, city %>
            <% else %>
              <%= city.name %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
