// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "mdi";
@import "octicons";
@import "react-swipe-views";
@import "pygments/default"; // https://github.com/vicentereig/sass-pygments-rails/tree/master/vendor/assets/stylesheets/pygments

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
